<nav class="navbar navbar-expand-sm navbar-toggleable-sm shadow-sm bg-transparent border-bottom border-white py-0 px-2 fixed-top"
     style="height:40px;">

    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbar-links-collapsed"
            aria-controls="navbar-links-collapsed" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-white">
            <i class="fas fa-bars fa-1x"></i>
        </span>
    </button>

    <div id="navbar-links-collapsed" class="collapse navbar-collapse bg-info">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

            </li>
        </ul>
    </div>
</nav>